* {
  margin: 0;
  padding: 0;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  background-color: white;
  font-size: large;
  margin-left: 10px;
  width: 100%;
  position: fixed;
}
.list:hover {
  background-color: rgb(237, 232, 232);
  cursor: pointer;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 3.2px;
  text-align: left;
}
.first-section-left {
  padding: 5%;
}
.first-section {
  display: flex;
  flex-wrap: nowrap;
}

.title-para {
  font-family: "Poppins";
  font-size: large;
  color: rgb(119, 124, 124);
  margin-bottom: 50px;
}

.first-button {
  padding: 2%;
  font-weight: 700;
  border-radius: 40%;
  background-color: rgb(6, 234, 162);
  color: rgb(14, 14, 14);
}
.first-button:hover {
  background-color: green;
  cursor: pointer;
}
.first-image {
  width: 80%;
  padding: 10%;
}
.second-section {
  background-color: rgb(186, 240, 222);
}
.trusted {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  margin-bottom: 80px;
}
.college {
  display: flex;
  justify-content: space-between;
}
.image-logo {
  size: 10px;
}
.third-section {
  display: flex;
  margin-top: 100px;
}
.title2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 3.2px;
  text-align: left;
}
.third-section-left {
  padding: 5%;
}
.third-section {
  display: flex;
  flex-wrap: nowrap;
}

.title-para2 {
  font-family: "Poppins";
  font-size: large;
  color: rgb(119, 124, 124);
  margin-bottom: 50px;
}
.third-image {
  width: 90%;
  padding: 5%;
  margin-top: 40px;
}
.second-button {
  color: blueviolet;
  border-color: blueviolet;
  border-radius: 20px;
  padding: 10px;
  font-size: larger;
  background-color: white;
}
.second-button:hover {
  background-color: rgb(178, 115, 237);
  cursor: pointer;
}
.fourth-section {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 35px;
}
.footer-stuff {
  color: blueviolet;
  font-family: "poppins";
}
.contact-stuff {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact-stuff:hover {
  color: rgb(170, 99, 237);
  cursor: pointer;
}
.last-section {
  padding: 90px;
  display: flex;
  justify-content: space-between;
}
.left-part {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}
.right-part {
  font-family: "poppins";
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.first-one:hover {
  color: rgb(194, 148, 237);
  cursor: pointer;
}
